#flexbox
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.flexitem
{
	margin-left: 50px;
    width: 20%;
}


h1
{
	text-align: center;
	font-size: 48px;
	color: #333;
	text-shadow: 2px 2px 5px rgba(0,100,0,0.7);
}
button
{
	background:#4caf50;
	width: 90px;
	height: 90px;
	font-size: 48px;
	font-weight: bold;
	border-radius: 5px;
	color: #fffffff;
}
.main {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 10px; /* Shorthand for row-gap and column-gap */
    width: 20%; /* Adjust this as needed */
    margin: auto; /* Centers horizontally */
    margin-top: 100px; /* Keeps the vertical spacing */
    justify-content: center; /* Centers grid items horizontally */
    align-items: center; /* Centers grid items vertically */
}

.btn
{
	border: 3px solid black;
	transition: border 0.3s ease;
	transform: scale(1.05);
}
.btn:hover
{
	border:  5px solid black;
}
#result
{
	width: 420px;
	height: 60px;
	border: 5px solid gray;
	text-align: center;
	font-weight: bold;
	font-size:48px;
	margin:auto;
	margin-top: 80px;
	margin-bottom: 50px;
}
/*body
{
	background: linear-gradient(135deg, #74ebd5, #9face6);
}*/
body {
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default body margin */
    background: #f3f4f6; /* Background color */
}
